<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{page.title}}</title>
    <meta name="description" content="My website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/style.css">

    <script src="./assets/code/async.js"></script>
    <script src="./assets/code/bootstrap.js"></script>
    <script src="./assets/code/d3.js"></script>
    <script src="./assets/code/jquery.js"></script>
    <script src="./assets/code/jquery.adaptive-backgrounds.js"></script>
    <script src="./assets/code/jquery.backstretch.js"></script>
    <script src="./assets/code/jquery.boilerplate.js"></script>
    <script src="./assets/code/jquery.cookie.js"></script>
    <script src="./assets/code/jquery.form.js"></script>
    <script src="./assets/code/jquery.gridster.js"></script>
    <script src="./assets/code/jquery.imagesloaded.js"></script>
    <script src="./assets/code/jquery.infinite-scroll.js"></script>
    <script src="./assets/code/jquery.jcrop.js"></script>
    <script src="./assets/code/jquery.mask.js"></script>
    <script src="./assets/code/jquery.mobile.js"></script>
    <script src="./assets/code/jquery.mousewheel.js"></script>
    <script src="./assets/code/jquery.nanoscroller.js"></script>
    <script src="./assets/code/jquery.nicescroll.js"></script>
    <script src="./assets/code/jquery.payment.js"></script>
    <script src="./assets/code/jquery.pjax.js"></script>
    <script src="./assets/code/jquery.placeholder.js"></script>
    <script src="./assets/code/jquery.survey.js"></script>
    <script src="./assets/code/jquery.timeago.js"></script>
    <script src="./assets/code/jquery.timepicker.js"></script>
    <script src="./assets/code/jquery.tokeninput.js"></script>
    <script src="./assets/code/jquery.touchswipe.js"></script>
    <script src="./assets/code/jquery.transit.js"></script>
    <script src="./assets/code/jquery.ui.js"></script>
    <script src="./assets/code/jquery.ujs.js"></script>
    <script src="./assets/code/jquery.validate.js"></script>
    <script src="./assets/code/jquery.validationengine.js"></script>
    <script src="./assets/code/jquery.weui.js"></script>
    <script src="./assets/code/lodash.js"></script>
</head>